@import url("https://googleapis.com");

@import 'tailwindcss';

@font-face {
  font-family: 'orbitron';
  src: url('/next/font/google/orbitron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}